:root {
  font-family: Poppins;
  --primary-10: rgba(14, 165, 233, 0.1);
  --primary: #0ea5e9;
  --blueGradient: linear-gradient(
    90deg,
    rgba(34, 211, 238, 1) 0%,
    rgba(14, 165, 233, 1) 100%
  );
  --background: #f0f9ff;
  --textColor: #0f172a;
  --textColor-50: rgba(15, 23, 42, 0.5);
  --pureWhite: #fefefe;
}

button {
  cursor: pointer;
}
.siteContainer {
  display: flex;
  flex-direction: row;
}
.widgetContainer {
  padding: 0px 28px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.divider {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.siteTitle {
  font-size: 28px;
}

